@import '../../breakpoints.scss';

.outerContainer {
  position: relative;
  min-height: 110vh;

  .photoCoverSection {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    min-height: 110vh;
    filter: blur(5px) brightness(80%);

    @include media('<tablet') {
      display: none;
    }
  }

  .photoContent {
    padding-top: 120px;
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;

    @include media('<tablet') {
      width: calc(100vw - 40px);
    }

    .photoControls {
      display: flex;
      justify-content: space-between;

      .authorInfo {
        display: flex;
        flex-direction: row;
      }

      .likeAndDownload {
        display: flex;

        .likeButton {
          height: 50px;
          width: 50px;
          background: white;
          border-radius: 8px;
          transition: 0.2s ease;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
          ;

          &:hover {
            cursor: pointer;
            box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
          }
        }

        .downloadButton {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #219653;
          border: none;
          border-radius: 8px;
          height: 50px;
          padding: 0 15px;
          color: white;
          font-size: 20px;
          transition: 0.2s ease;
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
          ;

          &:hover {
            cursor: pointer;
            box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
          }
        }
      }
    }

    .detailedImageContainer {
      max-width: 1200px;
      // width: 80%;
      margin-top: 44px;

      .detailedImage {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        // max-width: 1200px;
        height: auto;
        max-height: 70vh;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
      }

    }

    .similarTags {
      h3 {
        text-align: center;
        color: white;
        margin: 0;
        padding: 0;
        margin-top: 80px;


        @include media('<tablet') {
          margin-top: 30px;
          margin-bottom: 14px;
          text-align: left;
          color: black;
        }
      }

      .tagsContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        // align-items: center;
        .tagWrapper {
          padding: 5px 10px;
          background: white;
          border-radius: 8px;
          margin-right: 20px;
          margin-bottom: 20px;
          transition: 0.2s ease;
          border: none;

          @include media('<tablet') {
            background: #F2F2F2;
          }

          &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
          }

          span {
            color: gray;
          }
        }
      }
    }
  }
}

.similarPhotosContainer {
  margin-top: 100px;
  max-width: 1200px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  @include media('<tablet') {
    width: calc(100vw - 40px);
    margin-top: 30px;
  }

  .similarPhotosHeadline {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
      color: gray;

      @include media('<tablet') {
        display: none;
      }
    }
  }

  .similarPhotos {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @include media('<tablet') {
      flex-direction: column;
    }
  }
}