@import '../../breakpoints.scss';

.outerContainer {
  position: relative;
  min-height: 120vh;

  .photoCoverSection {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    min-height: 120vh;
    filter: blur(5px) brightness(80%);

    @include media('<tablet') {
      display: none;
    }
  }

  .photoContent {
    padding-top: 120px;
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;

    @include media('<tablet') {
      width: calc(100vw - 40px);
    }
  }
}