@import '../../breakpoints.scss';

.categoriesOverlay {
  position: absolute;
  right: 0;
  width: 30%;
  max-width: 400px;
  height: 18px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1.0));
  transition: 0.2s ease;
  pointer-events: none;

  @include media('<tablet') {
    display: none;
  }
}

.categories {
  overflow: auto;
  white-space: nowrap;
  scroll-behavior: smooth;

  // margin-right: 400px;
  &::-webkit-scrollbar {
    display: none;
  }

  @include media('<tablet') {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  /* Hide scrollbar for IE, Edge and Firefox */

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;

  /* Firefox */
  span {
    color: white;
    margin-right: 20px;
    margin-bottom: 20px;

    &:hover {
      cursor: pointer;
    }
  }
}