nav {
	display: flex;
	justify-content: space-between;

	.navLink {
		text-decoration: none;
		display: flex;
		align-items: center;
		margin-right: 20px;

		.logoText {
			margin-left: 10px;
			font-size: 24px;
			color: white;
			font-weight: 600;
			line-height: 29px;
		}

		span {
			margin-left: 10px;
			color: white;
		}
	}

	.navRightGroup {
		display: flex;

		.navButton {
			display: flex;
			align-items: center;
			margin-right: 20px;

			&:hover {
				cursor: pointer;

				.iconName {
					.underline {
						width: 30px;
					}
				}
			}

			span {
				margin-left: 10px;
				color: white;
			}
		}

		.hidden {
			visibility: hidden;
		}
	}
}


.underlineable {
	&:hover {
		.iconName {
			.underline {
				width: 30px;
			}
		}
	}
	.iconName {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		.underline {

			height: 3px;
			width: 0px;
			background: white;
			transition: 0.2s ease;
		}
	}
}